@import "../general/variables.scss";

.historical-dates {
	position: relative;
	flex-grow: 1;

	display: flex;
	flex-direction: column;



	&::after {
		position: absolute;
		content: '';
		background-color: rgba(66, 86, 122, 0.1);
		width: 1px;
		height: 100%;
		left: 0px;
		top: 0;
	}

	&::before {
		position: absolute;
		content: '';
		background-color: rgba(66, 86, 122, 0.1);
		width: 1px;
		height: 100%;
		right: 0px;
		top: 0;
	}

	&__wrapper {
		flex-grow: 1;
		padding: 0px 80px;
		padding-top: 170px;
		position: relative;

		&::after {
			position: fixed;
			content: "";
			background-color: rgba(66, 86, 122, 0.1);
			width: 1px;
			height: 100vh;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}


	& h1 {
		font-family: $font-base;
		font-style: normal;
		font-weight: 700;
		font-size: 56px;
		line-height: 120%;
		color: #42567A;
		max-width: 355px;
		position: relative;

		&::after {
			position: absolute;
			content: '';
			background: url('../../../public/img/title-decor.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 5px;
			height: 100%;
			left: -80px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

@media(min-width: 0px) and (max-width: 1199px) {
	.historical-dates h1 {
		font-size: 40px;
		line-height: 100%;
		max-width: 290px;

		&::after {
			width: 4px;
			left: -51px;
		}
	}

	.historical-dates__wrapper {
		padding: 0px 50px;
		padding-top: 100px;
	}
}


@media(min-width: 0px) and (max-width: 767px) {
	.historical-dates {

		&::after,
		&::before {
			display: none;
		}

		&__wrapper {
			padding: 0;
			padding-top: 60px;

			&::after {
				display: none;
			}

			& h1 {
				font-size: 20px;
				line-height: 120%;
				max-width: 130px;

				&::after {
					display: none;
				}
			}
		}
	}
}