@import "../general/variables.scss";

body {
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	font-family: $font-base;
	color: $cl-black;
	min-height: 100vh;
	height: 100%;
	background: #f4f5f9;

	display: flex;
	flex-direction: column;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

a {
	text-decoration: none;
	display: inline-block;
}

ol,
ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

svg {
	pointer-events: none;
}

img {
	max-width: 100%;
	height: auto;
}

button,
input,
select,
textarea {
	font: inherit;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}


.container {
	width: 100%;
	max-width: 1920px;
	padding: 0 240px;
	margin: 0 auto;
	box-sizing: border-box;
	flex-grow: 1;
	overflow-x: hidden;

	display: flex;
	flex-direction: column;
}


@media(min-width: 0px) and (max-width: 1919px) {
	.container {
		padding: 0px 100px;
	}
}

@media(min-width: 0px) and (max-width: 1199px) {
	.container {
		padding: 0px 50px;
	}
}

@media(min-width: 0px) and (max-width: 767px) {
	.container {
		padding: 0px 20px;
	}
}